---
title: api
layout: header-footer
---


    <!-- Main Content -->
    <main class="main-content">


     !-->
      <section class="section">
        <div class="container">
          <header class="section-header">
            <h2>API</h2>
            <hr>
       <p class="lead">APIs are a mite lower thank Apps on the Pecking order, they can be seen as Apps strictly for integration. 
APIs oﬀer http-based interfaces for sending bulk SMS and initiating USSD push information to subscribers who are subscribed to your instance or who don’t have a DND proﬁle. </p>
          </header>

          </div>
        </div>
      </section>
	
	
	

      


   