---
title: app_store
layout: header-footer
---




      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Description
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section bg-gray">
        <div class="container">

          <div class="row">
            <div class="col-md-8 mx-auto">

              <p class="lead">Do you manage a group or integrating an app. Do you have the next big VAS content that ﬁt into our really ﬂexible cookie cutter or are you an enterprise looking to integrate with some telco API. We’ve got just the thing for you.</p>

              <br><br>
              <h5>Apps: The Store</h5>
			  <p>Visit store.connectedapps.com to browse our ready to use MiniApps. We have apps that satisfy the following use cases without a line of code from you. And we have web hooks you can use to enhance your oﬀerings:</p>

              <ul>
                <li> <strong>One-Way SMS APIs:</strong> Let you send reliable SMS to a number of subscribers. Once you create a tenant instance you will get a USSD short code for people to use to subscribe to your oﬀerings.  After that you get a cute interface to send out messages 
					 to your audience. What’s more? You can set up a web hook to integrate your external solution to your one-way instance.</li>
                <li><strong> USSD Polls:</strong> Big or Small brother? Miss Lagos or Miss Nigeria? Now you can get the public to vote for the next Miss Congeniality without a line of code. Just search the store for a USSD poll application and used a shared or apply for a dedicated USSD short code and you have an app with a real-time dashboard at your beckon. 
				      While you’re browsing the app store you may even discover poll apps with blockchain implementations.</li>
                <li> Put as many placeholder text on the UI and I’ll provide descriptions that you need.</li>
                <li> Tralalala</li>
                <li> Sell Airtime Online, electronically. Exchange airtime for change? Dispense your own data?</li>
				<li> Seat Reservation</li>
				<li> Subscription-Based Content Messaging</li>
				<li>  2-Way SMS messaging.</li>
				
              </ul>
			</div>
		   </div>
		 </div>
		</section>

