---
title: connect
layout: header-footer
---


    <!-- Main Content -->
    <main class="main-content">


     !-->
      <section class="section">
        <div class="container">
          <header class="section-header">
            <h2>What’s ConnectedApp?</h2>
            <hr>
       <p class="lead">There are two large categories of individuals and organisations whom want to use SMS, USSD and probably some voice API into a product or for some other uses. We support everyone.
ConnectedApps are ready to use,telco related apps. They are higher level than APIs even though we provide APIs for integration. If you want to serve a poll over SMS or USSD, want to vote for a user during a beauty pageant and will like to do it over USSD, you are a company and want to do SMS veriﬁcation for your products, chances are there is a ConnectedApp that would do that just for you without a single line of code!</p>
          </header>

          </div>
        </div>
      </section>
	
	
	

      


   