---
title: FAQ
layout: header-footer
---





<section class="section">
        <div class="container">
          <header class="section-header">
            <h2>Frequently Asked Questions</h2>
            <hr>Custom or Shared USSD Code, What’s the diﬀerence?
            <p>Shared USSD Codes are just that, shared. You tenant app is ready to hit the market depending on the class of App you have installed. We have already secured the Shared code e.g. *007# and we just lease a room to your instance of the app e.g. *007*1#. This takes you to the market faster and is cheaper. You may however purchase a dedicated code for more customisation.</p>
          </header>


          <div class="row gap-y">
            <div class="col-md-6">
              <h5>Do I need a USSD Code for All the Apps?</h5>
              <p>Yes, let us explain. </p>
              <p>We consider the sanity of our customers, the end users of the instance of your app and we do not want them to be spanned in any way so we provide a shared subscription USSD app for every app installed. When you engage your customers, you are expected to encourage them to dial your code to be enrolled in your app. This authorises the app to engage your customers.</p>
            </div>


            <div class="col-md-6">
              <h5>Is it possible for my customers to be unreachable after dialing my engagement Short Code?</h5>
              <p>Yes, again we explain.</p>
              <p>The Nigerian Communications Commission maintains a separate Do-Not-Disturb database for customers. If a user has indicated she does not ever want to be reached for any reason, we have to respect that. 
                 We are however engaging the NCC to allow exceptions in scenarios where the customers may have dialled your engagement short code by themselves.</p>
            </div>


            <div class="col-md-6">
              <h5>When I send out One-Way Messages, I want it to carry my brandname e.g. BOY-O-BOY. Is this even possible?</h5>
              <p>Yes it is possible. However, such has to be pre-authorized and the processes may take some time. We encourage you to start your engagement early. Also note that with such a send name, you will not be able to receive messages via the short code so it’s only suitable for 1-way SMS.</p>
            </div>



            <div class="col-md-6">
              <h5>What problems did you solve exactly? Is it big?</h5>
              <p>The traditional way to reach your audience or oﬀer services by SMS and USSD include getting a license from the commission, then you get to talk to the telcos and satisfy your product requirements. Licensing does take so time to get and then it takes more time to integrate with the telcos and pass quality assurance checks. Don’t forget the part where you hire developers to build this and hopefully the ﬁrst one you hire gets the job done. We are saying you can install a multi-tenant app and be on your way. 
                 Now you be the judge.</p>
            </div>
				
			
	 <div class="col-md-6">
              <h5>What else do I get out of the box once I install a ConnectedApp from the store?</h5>
              <p>You get a dashboard of api usage and cost, delivery status and other information including delivery time. You can also perform operations like granting users access, managing security tokens.  Others include your balances since many services are pre-paid, renewal of expiring addons and a transaction dashboard with exports for the contents your users have sent.</p>
				 
		      

            </div>		
			
			
	 <div class="col-md-6">
              <h5>How do you ensure compliance from 3rd Party Developers?</h5>
              <p>All 3rd party developers must agree to our code of conduct and policies on ConnectedApps. Beside that, we are in the know of the build and production process and are able to prevent rollout of non-compliant apps.</p>
            </div>		
			
			
			
			
		 <div class="col-md-6">
              <h5>What are Short Codes</h5>
              <p>Short codes are the numbers you can dial on your phone to active services e.g. *007# or *800*2*4# but these are for USSD. For SMS, the short codes are 3 to 5 digits long e.g. 344, 577, 65000. ConnectedApps customers who be able to reach out to their audiences over short codes and vice versa.</p>
            </div>	
				
			
		<div class="col-md-6">
              <h5>Which types of Short Codes are available?</h5>
              <p>Some short codes are dedicated while some are shared. All SMS short codes are dedicated while USSD can be dedicated or shared. A shared USSD short code would look like *777*1# or *777*2#. We will typically make the wild card behind your short codes available to diﬀerent functionality in your ConnectedApp e.g. *777*1*1# to enrol and *777*1*0# to delist.</p>
            </div>		
			
			
			<div class="col-md-6">
              <h5>What else should I know?</h5>
              <p>2-Way SMS API requires a dedicated short code. Short codes attract a cost. Dedicated short code processing do take some time to process and some ConnectedApps require a small documentation with the NCC before you can launch them and lotteries do require licenses. In addition, we don’t do X-rated things.</p>
            </div>	
			
			
			
			
          </div>

        </div>
      </section>