
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>Bootstrap — Redesigned for demo purpose</title>

    <!-- Styles -->
    <link href="../assets/css/page.min.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="../assets/img/apple-touch-icon.png">
    <link rel="icon" href="../assets/img/favicon.png">
  </head>

  <body><!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-stick-dark" data-navbar="sticky">
      <div class="container">

        <div class="navbar-left">
          <button class="navbar-toggler" type="button">&#9776;</button>
          <a class="navbar-brand" href="#">
            <img class="logo-dark" src="../assets/img/logo/bootstrap-solid.png" alt="logo">
            <img class="logo-light" src="../assets/img/logo/bootstrap-punchout.png" alt="logo">
          </a>
        </div>

        <section class="navbar-mobile">
          <nav class="nav nav-navbar ml-auto">
            <a class="nav-link" href="#">Why Connect</a>
            <a class="nav-link" href="#">product</a>
            <a class="nav-link" href="#">customers</a>
            <a class="nav-link" href="#">resource</a>
			<!--<a class="btn btn-xl btn-round btn-light" href="#section-apply">Apply Now</a>
			<a class="btn btn-xl btn-round btn-light" href="#section-apply">Apply Now</a>-->
          </nav>
        </section>

      </div>
    </nav><!-- /.navbar -->

 <!-- Header -->
      <header class="header text-white bg-gray1 pt-10 pb-9" style="background-color: #b9a0c9;">
        <div class="container text-center">

          <div class="row">
            <div class="col-lg-8 mx-auto">

              <h1>Senior Front-end Engineer</h1>
              <p class="lead-2"><i class="fa fa-map-marker mr-2"></i> San Francisco</p>

              <hr class="w-50px">

              <a class="btn btn-xl btn-round btn-light" href="#section-apply">Apply Now</a>

            </div>
          </div>

        </div>
      </header><!-- /.header -->





    {{ content }}




 <!-- Footer -->
      <footer class="footer text-white bg-img" style="background-image: url(../assets/img/vector/9.jpg)" data-overlay="8">
        <div class="container py-7">
          <div class="row gap-y">

            <div class="col-6 col-md-4 col-xl-2">
              <h6 class="mb-4"><strong>Company</strong></h6>
              <div class="nav flex-column">
                <a class="nav-link" href="#">About us</a>
                <a class="nav-link" href="#">Careers</a>
                <a class="nav-link" href="#">Press</a>
                <a class="nav-link" href="#">Brand Guidelines</a>
              </div>
            </div>

            <div class="col-6 col-md-4 col-xl-2">
              <h6 class="mb-4"><strong>Product</strong></h6>
              <div class="nav flex-column">
                <a class="nav-link" href="#">Why TheThemeio?</a>
                <a class="nav-link" href="#">Success Stories</a>
                <a class="nav-link" href="#">Pricing</a>
                <a class="nav-link" href="#">Security</a>
              </div>
            </div>

            <div class="col-6 col-md-4 col-xl-2">
              <h6 class="mb-4"><strong>Resources</strong></h6>
              <div class="nav flex-column">
                <a class="nav-link" href="#">Freebies</a>
                <a class="nav-link" href="#">Partners</a>
                <a class="nav-link" href="#">Events</a>
                <a class="nav-link" href="#">Assets</a>
              </div>
            </div>

            <div class="col-6 col-md-4 col-xl-2">
              <h6 class="mb-4"><strong>Community</strong></h6>
              <div class="nav flex-column">
                <a class="nav-link" href="#">Blog</a>
                <a class="nav-link" href="#">Forums</a>
                <a class="nav-link" href="#">Meetups</a>
                <a class="nav-link" href="#">For Investors</a>
              </div>
            </div>

            <div class="col-6 col-md-4 col-xl-2">
              <h6 class="mb-4"><strong>Support</strong></h6>
              <div class="nav flex-column">
                <a class="nav-link" href="#">Help Center</a>
                <a class="nav-link" href="#">Guides</a>
                <a class="nav-link" href="#">API</a>
                <a class="nav-link" href="#">FAQ</a>
              </div>
            </div>

            <div class="col-6 col-md-4 col-xl-2">
              <h6 class="mb-4"><strong>Extras</strong></h6>
              <div class="nav flex-column">
                <a class="nav-link" href="#">Podcast</a>
                <a class="nav-link" href="#">Shop</a>
                <a class="nav-link" href="#">Licenses</a>
                <a class="nav-link" href="#">Become Affiliate</a>
              </div>
            </div>

          </div>
        </div>

        <hr>

        <div class="container">
          <div class="row gap-y">

            <div class="col-md-6 text-center text-md-left">
              <small class="opacity-70">© 2018 TheThemeio. All rights reserved.</small>
            </div>

            <div class="col-md-6 text-center text-md-right">
              <div class="social">
                <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
                <a class="social-youtube" href="#"><i class="fa fa-youtube"></i></a>
                <a class="social-instagram" href="#"><i class="fa fa-instagram"></i></a>
              </div>
            </div>

          </div>
        </div>
      </footer><!-- /.footer -->