---
title: home
layout: header-footer
---
<!-- Main Content -->
    <main class="main-content">
      <!--
  
      !-->
      <section class="section">
        <div class="container">
          <header class="section-header">
            <h2>Discover What ConnectedApps Can do For you</h2>
            <hr>
            <p class="lead">Integrating SMS, USSD, Voice and Billing are a good way to reach your customers and enable your businesses, but traditionally these things are diﬃcult. Never again do you have to worry about licensing or software development to get your ideas to market. The ConnectedApp store has you covered.</p>
          </header>

          <div class="row gap-y text-center">

            <div class="col-md-6 col-xl-4 feature-1">
              <p class="feature-icon text-success"><i class="icon-search"></i></p>
              <h5>Choice</h5>
              <p>We oﬀer you curated apps, from our foundry and from 3rd Party sources. See what customers are saying about apps in the app comments and view ratings. We have a well oiled machinery to satisfy your every need in a very transparent way.</p>
            </div>
			
            <div class="col-md-6 col-xl-4 feature-1">
              <p class="feature-icon text-primary"><i class="icon-mobile"></i></p>
              <h5>Agility</h5>
              <p>We have apps, quality assured to deliver your integration needs oﬀ-the-shelf and not a line of code from you. From big organisations to NGOs to startups, we have you covered.</p>
            </div>


            <div class="col-md-6 col-xl-4 feature-1">
              <p class="feature-icon text-danger"><i class="icon-tools"></i></p>
              <h5>Governance</h5>
              <p>We guarantee the customer will not get an annoying message they have not subscribed to and so every app requires a one-oﬀ customer opt-in. We respect the Do-Not-Disturb conﬁgurations of the NCC and also respect the personal choices of the customers.</p>
            </div>

          </div>

        </div>
      </section>

    	  <!--
     
      !-->
      <section class="section">
        <div class="container">
          <header class="section-header">
            <h2>API is good but App is King </h2>
            <hr>
       <p class="lead">Imagine all the nice things you can do without a single line of code. Enable number veriﬁcation, reach out to your audience via USSD, SMS, do Robocalls, Security alerts and more. Use ready made apps to enable your business, conduct opinion polls, trigger reminders, provide contents, dispense data and airtime and so much more.</p>
          </header>

          </div>
        </div>
      </section>


      <!--
      
      !-->
      <section class="section bg-gray pb-0 overflow-hidden">
        <div class="container">
          <header class="section-header">
            <h2>Want your API Anyway?</h2>
         <p class="lead">We got you covered, via apps :). Our ConnectedApp store provide apps with web hooks to your external endpoints. Secured with OAUTH2+Open ID and JSON-Web-Token for eﬃcient integration we have the most performant APIs based on our Reactive Delivery Platform. We handle millions of APIs to meet your needs at all times.</p>
          </header>

            </div>

          </div>

        </div>
      </section>
     
         <section class="section bg-gray pb-0 overflow-hidden">
        <div class="container">
          <header class="section-header">
            <h2>Transparent Dashboard</h2>
         <p class="lead">All apps have metered dashboard by design. You can view your usage information in real-time. Whatever your needs are, we grow with you.</p>
          </header>

     <section class="section bg-gray pb-0 overflow-hidden">
        <div class="container">
          <header class="section-header">
            <h2>What others are using ConnectedApps for</h2>
         <p class="lead">We have use cases in government, insurance and ﬁnance, entertainment, sports and the society around you. View the case studies to see how other people are using Connected Apps and jumpstart your creativity, after all, everyone can use some help.
          Link: View the Case Studies.</p>
          </header>
		  
	 
	 
	 <section class="section bg-gray pb-0 overflow-hidden">
        <div class="container">
          <header class="section-header">
            <h2>Get Started Now!</h2>
            <hr>
            <p class="lead">View the Store to Get Started or View our featured Apps.</p>
	    	 <p class="lead">People Who Are Using Connected Apps (Logos)</p>
          </header>

          <div class="row gap-y">

            <div class="col-6 col-md-4 col-xl-2">
              <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                <p style="color: #78a300"><i class="icon-lightbulb lead-7"></i></p>
                <h6 class="mb-0"><strong>Evince</strong></h6>
              </a>
            </div>


            <div class="col-6 col-md-4 col-xl-2">
              <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                <p style="color: #eb4a62"><i class="icon-book-open lead-7"></i></p>
                <h6 class="mb-0"><strong>PayAssist</strong></h6>
              </a>
            </div>


            <div class="col-6 col-md-4 col-xl-2">
              <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                <p style="color: #f69a3e"><i class="icon-chat lead-7"></i></p>
                <h6 class="mb-0"><strong>EgdeIT</strong></h6>
              </a>
            </div>


            <div class="col-6 col-md-4 col-xl-2">
              <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                <p style="color: #f0c93e"><i class="icon-mic lead-7"></i></p>
                <h6 class="mb-0"><strong>Activedge</strong></h6>
              </a>
            </div>


            <div class="col-6 col-md-4 col-xl-2">
              <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                <p style="color: #37b8af"><i class="icon-envelope lead-7"></i></p>
                <h6 class="mb-0"><strong>OXusHR</strong></h6>
              </a>
            </div>


           
          </header>
	 
    </main>
	<br/>
