


    <!-- Main Content -->
    <main class="main-content">


      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Block 1
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->

      <h6 id="block-1" class="block-number"><a href="#block-1">Block 1</a></h6>

      <section class="section overflow-hidden">
        <div class="container">
          <header class="section-header">
            <small>Portfolio</small>
            <h2>Product Designs</h2>
            <hr>
            <p class="lead">You can find several product design by our professional team in this section.</p>
          </header>


          <div data-provide="shuffle">
            <ul class="nav nav-center nav-bold nav-uppercase nav-slash mb-7" data-shuffle="filter">
              <li class="nav-item">
                <a class="nav-link active" href="#" data-shuffle="button">All</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-shuffle="button" data-group="bag">Bag</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-shuffle="button" data-group="box">Box</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-shuffle="button" data-group="book">Book</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-shuffle="button" data-group="bottle">Bottle</a>
              </li>
            </ul>


            <div class="row gap-y gap-2" data-shuffle="list">

              <div class="col-6 col-lg-3" data-shuffle="item" data-groups="bag,box">
                <a class="portfolio-1" href="#" data-toggle="modal" data-target="#modal-portfolio">
                  <img src="../assets/img/portfolio/1.jpg" alt="screenshot">
                  <div class="portfolio-detail">
                    <h5>Phone Bag</h5>
                    <p>Bag, Box</p>
                  </div>
                </a>
              </div>


              <div class="col-6 col-lg-3" data-shuffle="item" data-groups="book">
                <a class="portfolio-1" href="#" data-toggle="modal" data-target="#modal-portfolio">
                  <img src="../assets/img/portfolio/2.jpg" alt="screenshot">
                  <div class="portfolio-detail">
                    <h5>Mockup Book</h5>
                    <p>Book</p>
                  </div>
                </a>
              </div>


              <div class="col-6 col-lg-3" data-shuffle="item" data-groups="box">
                <a class="portfolio-1" href="#" data-toggle="modal" data-target="#modal-portfolio">
                  <img src="../assets/img/portfolio/3.jpg" alt="screenshot">
                  <div class="portfolio-detail">
                    <h5>T-shirt</h5>
                    <p>Box</p>
                  </div>
                </a>
              </div>


              <div class="col-6 col-lg-3" data-shuffle="item" data-groups="bottle">
                <a class="portfolio-1" href="#" data-toggle="modal" data-target="#modal-portfolio">
                  <img src="../assets/img/portfolio/4.jpg" alt="screenshot">
                  <div class="portfolio-detail">
                    <h5>Coffee</h5>
                    <p>Bottle</p>
                  </div>
                </a>
              </div>


              <div class="col-6 col-lg-3" data-shuffle="item" data-groups="bottle">
                <a class="portfolio-1" href="#" data-toggle="modal" data-target="#modal-portfolio">
                  <img src="../assets/img/portfolio/5.jpg" alt="screenshot">
                  <div class="portfolio-detail">
                    <h5>Shampoo</h5>
                    <p>Bottle</p>
                  </div>
                </a>
              </div>


              <div class="col-6 col-lg-3" data-shuffle="item" data-groups="bag">
                <a class="portfolio-1" href="#" data-toggle="modal" data-target="#modal-portfolio">
                  <img src="../assets/img/portfolio/6.jpg" alt="screenshot">
                  <div class="portfolio-detail">
                    <h5>Paper bag</h5>
                    <p>Bag</p>
                  </div>
                </a>
              </div>


              <div class="col-6 col-lg-3" data-shuffle="item" data-groups="bottle">
                <a class="portfolio-1" href="#" data-toggle="modal" data-target="#modal-portfolio">
                  <img src="../assets/img/portfolio/7.jpg" alt="screenshot">
                  <div class="portfolio-detail">
                    <h5>Elixir</h5>
                    <p>Bottle</p>
                  </div>
                </a>
              </div>


              <div class="col-6 col-lg-3" data-shuffle="item" data-groups="book">
                <a class="portfolio-1" href="#" data-toggle="modal" data-target="#modal-portfolio">
                  <img src="../assets/img/portfolio/8.jpg" alt="screenshot">
                  <div class="portfolio-detail">
                    <h5>Magazine</h5>
                    <p>Book</p>
                  </div>
                </a>
              </div>

            </div>
          </div>


        </div>
      </section>



      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Block 2
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->

      <h6 id="block-2" class="block-number"><a href="#block-2">Block 2</a></h6>

      <section class="section overflow-hidden bg-gray">
        <div class="container">
          <header class="section-header">
            <small>Portfolio</small>
            <h2>Product Designs</h2>
            <hr>
            <p class="lead">You can find several product design by our professional team in this section.</p>
          </header>


          <div data-provide="shuffle">
            <ul class="nav nav-center nav-bold nav-uppercase nav-pills mb-7" data-shuffle="filter">
              <li class="nav-item">
                <a class="nav-link active" href="#" data-shuffle="button">All</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-shuffle="button" data-group="bag">Bag</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-shuffle="button" data-group="box">Box</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-shuffle="button" data-group="book">Book</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-shuffle="button" data-group="bottle">Bottle</a>
              </li>
            </ul>


            <div class="row gap-y gap-2" data-shuffle="list">

              <div class="col-6 col-lg-3" data-shuffle="item" data-groups="bag,box">
                <a class="card shadow-1 hover-shadow-6" href="#" data-toggle="modal" data-target="#modal-portfolio">
                  <img class="card-img-top" src="../assets/img/portfolio/1.jpg" alt="screenshot">
                  <div class="card-body">
                    <h6 class="mb-0">Phone Bag</h6>
                    <small class="small-5 text-lightest text-uppercase ls-2">Bag, Box</small>
                  </div>
                </a>
              </div>


              <div class="col-6 col-lg-3" data-shuffle="item" data-groups="book">
                <a class="card shadow-1 hover-shadow-6" href="#" data-toggle="modal" data-target="#modal-portfolio">
                  <img class="card-img-top" src="../assets/img/portfolio/2.jpg" alt="screenshot">
                  <div class="card-body">
                    <h6 class="mb-0">Mockup Book</h6>
                    <small class="small-5 text-lightest text-uppercase ls-2">Book</small>
                  </div>
                </a>
              </div>


              <div class="col-6 col-lg-3" data-shuffle="item" data-groups="box">
                <a class="card shadow-1 hover-shadow-6" href="#" data-toggle="modal" data-target="#modal-portfolio">
                  <img class="card-img-top" src="../assets/img/portfolio/3.jpg" alt="screenshot">
                  <div class="card-body">
                    <h6 class="mb-0">T-shirt</h6>
                    <small class="small-5 text-lightest text-uppercase ls-2">Box</small>
                  </div>
                </a>
              </div>


              <div class="col-6 col-lg-3" data-shuffle="item" data-groups="bottle">
                <a class="card shadow-1 hover-shadow-6" href="#" data-toggle="modal" data-target="#modal-portfolio">
                  <img class="card-img-top" src="../assets/img/portfolio/4.jpg" alt="screenshot">
                  <div class="card-body">
                    <h6 class="mb-0">Coffee</h6>
                    <small class="small-5 text-lightest text-uppercase ls-2">Bottle</small>
                  </div>
                </a>
              </div>


              <div class="col-6 col-lg-3" data-shuffle="item" data-groups="bottle">
                <a class="card shadow-1 hover-shadow-6" href="#" data-toggle="modal" data-target="#modal-portfolio">
                  <img class="card-img-top" src="../assets/img/portfolio/5.jpg" alt="screenshot">
                  <div class="card-body">
                    <h6 class="mb-0">Shampoo</h6>
                    <small class="small-5 text-lightest text-uppercase ls-2">Bottle</small>
                  </div>
                </a>
              </div>


              <div class="col-6 col-lg-3" data-shuffle="item" data-groups="bag">
                <a class="card shadow-1 hover-shadow-6" href="#" data-toggle="modal" data-target="#modal-portfolio">
                  <img class="card-img-top" src="../assets/img/portfolio/6.jpg" alt="screenshot">
                  <div class="card-body">
                    <h6 class="mb-0">Paper Bag</h6>
                    <small class="small-5 text-lightest text-uppercase ls-2">Bag</small>
                  </div>
                </a>
              </div>


              <div class="col-6 col-lg-3" data-shuffle="item" data-groups="bottle">
                <a class="card shadow-1 hover-shadow-6" href="#" data-toggle="modal" data-target="#modal-portfolio">
                  <img class="card-img-top" src="../assets/img/portfolio/7.jpg" alt="screenshot">
                  <div class="card-body">
                    <h6 class="mb-0">Elixir</h6>
                    <small class="small-5 text-lightest text-uppercase ls-2">Bottle</small>
                  </div>
                </a>
              </div>


              <div class="col-6 col-lg-3" data-shuffle="item" data-groups="book">
                <a class="card shadow-1 hover-shadow-6" href="#" data-toggle="modal" data-target="#modal-portfolio">
                  <img class="card-img-top" src="../assets/img/portfolio/8.jpg" alt="screenshot">
                  <div class="card-body">
                    <h6 class="mb-0">Magazine</h6>
                    <small class="small-5 text-lightest text-uppercase ls-2">Book</small>
                  </div>
                </a>
              </div>


            </div>
          </div>


        </div>
      </section>




      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Block 3
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->

      <h6 id="block-3" class="block-number"><a href="#block-3">Block 3</a></h6>

      <section class="section overflow-hidden">
        <div class="container">
          <header class="section-header">
            <small>Portfolio</small>
            <h2>Product Designs</h2>
            <hr>
            <p class="lead">You can find several product design by our professional team in this section.</p>
          </header>


          <div data-provide="shuffle">
            <ul class="nav nav-center nav-bold nav-uppercase nav-pills1 nav-dot mb-7" data-shuffle="filter">
              <li class="nav-item">
                <a class="nav-link active" href="#" data-shuffle="button">All</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-shuffle="button" data-group="bag">Bag</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-shuffle="button" data-group="box">Box</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-shuffle="button" data-group="book">Book</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-shuffle="button" data-group="bottle">Bottle</a>
              </li>
            </ul>


            <div class="row gap-y" data-shuffle="list">

              <div class="col-md-4" data-shuffle="item" data-groups="bag,box">
                <a class="hover-move-up" href="#">
                  <img src="../assets/img/portfolio/1.jpg" alt="screenshot">
                  <div class="text-center pt-5">
                    <h5 class="fw-5001 mb-0">Phone Bag</h5>
                    <small class="small-5 text-lightest text-uppercase ls-2">Bag, Box</small>
                  </div>
                </a>
              </div>


              <div class="col-md-4" data-shuffle="item" data-groups="book">
                <a class="hover-move-up" href="#">
                  <img src="../assets/img/portfolio/2.jpg" alt="screenshot">
                  <div class="text-center pt-5">
                    <h5 class="fw-5001 mb-0">Mockup Book</h5>
                    <small class="small-5 text-lightest text-uppercase ls-2">Book</small>
                  </div>
                </a>
              </div>


              <div class="col-md-4" data-shuffle="item" data-groups="box">
                <a class="hover-move-up" href="#">
                  <img src="../assets/img/portfolio/3.jpg" alt="screenshot">
                  <div class="text-center pt-5">
                    <h5 class="fw-5001 mb-0">T-shirt</h5>
                    <small class="small-5 text-lightest text-uppercase ls-2">Box</small>
                  </div>
                </a>
              </div>


              <div class="col-md-4" data-shuffle="item" data-groups="bottle">
                <a class="hover-move-up" href="#">
                  <img src="../assets/img/portfolio/4.jpg" alt="screenshot">
                  <div class="text-center pt-5">
                    <h5 class="fw-5001 mb-0">Coffee</h5>
                    <small class="small-5 text-lightest text-uppercase ls-2">Bottle</small>
                  </div>
                </a>
              </div>


              <div class="col-md-4" data-shuffle="item" data-groups="bottle">
                <a class="hover-move-up" href="#">
                  <img src="../assets/img/portfolio/5.jpg" alt="screenshot">
                  <div class="text-center pt-5">
                    <h5 class="fw-5001 mb-0">Shampoo</h5>
                    <small class="small-5 text-lightest text-uppercase ls-2">Bottle</small>
                  </div>
                </a>
              </div>


              <div class="col-md-4" data-shuffle="item" data-groups="bag">
                <a class="hover-move-up" href="#">
                  <img src="../assets/img/portfolio/6.jpg" alt="screenshot">
                  <div class="text-center pt-5">
                    <h5 class="fw-5001 mb-0">Paper Bag</h5>
                    <small class="small-5 text-lightest text-uppercase ls-2">Bag</small>
                  </div>
                </a>
              </div>

            </div>
          </div>


        </div>
      </section>



      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Block 4
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->

      <h6 id="block-4" class="block-number"><a href="#block-4">Block 4</a></h6>

      <section class="section">
        <div class="container">

          <div class="row">
            <div class="col-md-8 mb-6 mb-md-0">
              <img src="../assets/img/portfolio/4.jpg" alt="project image">
            </div>


            <div class="col-md-4">
              <h5>Project detail</h5>

              <p>Out or geared it but to best up samples the for she phase of copy would do in divine of taken and the take medical or upper at him in the logbook were, we price his mostly to commas.</p>

              <ul class="project-detail mt-7">
                <li>
                  <strong>Client</strong>
                  <span>Envato Inc.</span>
                </li>

                <li>
                  <strong>Date</strong>
                  <span>June 27, 2018</span>
                </li>

                <li>
                  <strong>Skills</strong>
                  <span>Design, HTML, CSS, Javascript</span>
                </li>

                <li>
                  <strong>Address</strong>
                  <a href="http://thetheme.io/thesaas">thetheme.io/thesaas</a>
                </li>

                <li>
                  <strong>Share</strong>
                  <div class="social social-sm social-gray social-inline mt-2">
                    <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                    <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
                    <a class="social-instagram" href="#"><i class="fa fa-instagram"></i></a>
                    <a class="social-dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                  </div>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </section>




      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Block 5
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->

      <h6 id="block-5" class="block-number"><a href="#block-5">Block 5</a></h6>

      <section class="section">
        <div class="container">
          <header class="section-header">
            <small>Project</small>
            <h2>Box & Book Mockups</h2>
            <hr>
            <p class="lead">You can find several product design by our professional team in this section.</p>
          </header>


          <div class="row">

            <div class="col-12">
              <div data-provide="slider" data-dots="true" data-slides-to-show="2">
                <div class="p-2"><img src="../assets/img/portfolio/1.jpg"></div>
                <div class="p-2"><img src="../assets/img/portfolio/2.jpg"></div>
                <div class="p-2"><img src="../assets/img/portfolio/3.jpg"></div>
                <div class="p-2"><img src="../assets/img/portfolio/4.jpg"></div>
                <div class="p-2"><img src="../assets/img/portfolio/5.jpg"></div>
                <div class="p-2"><img src="../assets/img/portfolio/6.jpg"></div>
              </div>
            </div>


            <div class="col-12">
              <h5 class="mt-7">Project detail</h5>
            </div>

            <div class="col-md-4">
              <p>Key letters, explain which writing we he carpeting or fame, the itch expand medical amped through constructing time. And scarfs, gain, get showed accounts decades our in and he was lay texts a fail future drawers.</p>
              <p>Who for one to without blocks yield with best. Is might have preceding would purchase.</p>
            </div>

            <div class="col-md-3 ml-auto">
              <ul class="project-detail">
                <li>
                  <strong>Client</strong>
                  <span>Envato Inc.</span>
                </li>

                <li>
                  <strong>Date</strong>
                  <span>June 27, 2018</span>
                </li>

                <li>
                  <strong>Skills</strong>
                  <span>Design, HTML, CSS, Javascript</span>
                </li>
              </ul>
            </div>

            <div class="col-md-4">
              <ul class="project-detail">
                <li>
                  <strong>Address</strong>
                  <a href="http://thetheme.io/thesaas">thetheme.io/thesaas</a>
                </li>

                <li>
                  <strong>Share</strong>
                  <div class="social social-sm social-gray social-inline mt-2">
                    <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                    <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
                    <a class="social-instagram" href="#"><i class="fa fa-instagram"></i></a>
                    <a class="social-dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                  </div>
                </li>
              </ul>
            </div>

          </div>

        </div>
      </section>


      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Block 6
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->

      <h6 id="block-6" class="block-number"><a href="#block-6">Block 6</a></h6>

      <section class="section p-0">
        <div class="row no-gutters">
          <div class="col-md-6 position-relative order-md-last" style="min-height: 400px;">
            <img class="fill-parent fit-cover" src="../assets/img/portfolio/4.jpg" alt="project image">
          </div>


          <div class="col-10 col-md-5 mx-auto py-8">
            <h4>Paper Cup Mockup</h4>

            <p>Key letters, explain which writing we he carpeting or fame, the itch expand medical amped through constructing time. And scarfs, gain, get showed accounts decades our in and he was lay texts a fail future drawers. And here, and having the phase that got that sentinels been instruments, the derived the great text, own but and an almost applications or a the to dressing with we display, fly rush with boss is the them.</p>

            <ul class="project-detail mt-7">
              <li>
                <strong>Client</strong>
                <span>Envato Inc.</span>
              </li>

              <li>
                <strong>Date</strong>
                <span>June 27, 2018</span>
              </li>

              <li>
                <strong>Skills</strong>
                <span>Design, HTML, CSS, Javascript</span>
              </li>

              <li>
                <strong>Address</strong>
                <a href="http://thetheme.io/thesaas">thetheme.io/thesaas</a>
              </li>

              <li>
                <strong>Share</strong>
                <div class="social social-sm social-gray social-inline mt-2">
                  <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                  <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
                  <a class="social-instagram" href="#"><i class="fa fa-instagram"></i></a>
                  <a class="social-dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                </div>
              </li>
            </ul>
          </div>

        </div>
      </section>


      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Block 7
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->

      <h6 id="block-7" class="block-number"><a href="#block-7">Block 7</a></h6>

      <section class="section bg-gray">
        <div class="container">
          <header class="section-header">
            <small>Shots</small>
            <h2>Popular Designs</h2>
            <hr>
          </header>


          <div class="row gap-y gap-2">

            <div class="col-6 col-lg-3">
              <div class="card shadow-1 hover-shadow-6">
                <a class="p-2" href="#">
                  <img class="card-img-top" src="../assets/img/portfolio/9.jpg" alt="screenshot">
                </a>
                <div class="card-body flexbox">
                  <h6 class="mb-0">
                    <img class="avatar avatar-xxs mr-1" src="../assets/img/avatar/thethemeio.png" alt="avatar">
                    <a class="small" href="#">TheThemeio</a>
                  </h6>
                  <a class="text-inherit small-2" href="#"><i class="fa fa-heart pr-1 opacity-60 text-danger"></i> 265</a>
                </div>
              </div>
            </div>


            <div class="col-6 col-lg-3">
              <div class="card shadow-1 hover-shadow-6">
                <a class="p-2" href="#">
                  <img class="card-img-top" src="../assets/img/portfolio/10.jpg" alt="screenshot">
                </a>
                <div class="card-body flexbox">
                  <h6 class="mb-0">
                    <img class="avatar avatar-xxs mr-1" src="../assets/img/avatar/1.jpg" alt="avatar">
                    <a class="small" href="#">Maryam</a>
                  </h6>
                  <a class="text-inherit small-2" href="#"><i class="fa fa-heart pr-1 opacity-60 text-danger"></i> 197</a>
                </div>
              </div>
            </div>


            <div class="col-6 col-lg-3">
              <div class="card shadow-1 hover-shadow-6">
                <a class="p-2" href="#">
                  <img class="card-img-top" src="../assets/img/portfolio/11.jpg" alt="screenshot">
                </a>
                <div class="card-body flexbox">
                  <h6 class="mb-0">
                    <img class="avatar avatar-xxs mr-1" src="../assets/img/avatar/4.jpg" alt="avatar">
                    <a class="small" href="#">Hossein</a>
                  </h6>
                  <a class="text-inherit small-2" href="#"><i class="fa fa-heart pr-1 opacity-60"></i> 128</a>
                </div>
              </div>
            </div>


            <div class="col-6 col-lg-3">
              <div class="card shadow-1 hover-shadow-6">
                <a class="p-2" href="#">
                  <img class="card-img-top" src="../assets/img/portfolio/12.jpg" alt="screenshot">
                </a>
                <div class="card-body flexbox">
                  <h6 class="mb-0">
                    <img class="avatar avatar-xxs mr-1" src="../assets/img/avatar/thethemeio.png" alt="avatar">
                    <a class="small" href="#">TheThemeio</a>
                  </h6>
                  <a class="text-inherit small-2" href="#"><i class="fa fa-heart pr-1 opacity-60 text-danger"></i> 92</a>
                </div>
              </div>
            </div>


            <div class="col-6 col-lg-3">
              <div class="card shadow-1 hover-shadow-6">
                <a class="p-2" href="#">
                  <img class="card-img-top" src="../assets/img/portfolio/13.jpg" alt="screenshot">
                </a>
                <div class="card-body flexbox">
                  <h6 class="mb-0">
                    <img class="avatar avatar-xxs mr-1" src="../assets/img/avatar/1.jpg" alt="avatar">
                    <a class="small" href="#">Maryam</a>
                  </h6>
                  <a class="text-inherit small-2" href="#"><i class="fa fa-heart pr-1 opacity-60"></i> 75</a>
                </div>
              </div>
            </div>


            <div class="col-6 col-lg-3">
              <div class="card shadow-1 hover-shadow-6">
                <a class="p-2" href="#">
                  <img class="card-img-top" src="../assets/img/portfolio/14.jpg" alt="screenshot">
                </a>
                <div class="card-body flexbox">
                  <h6 class="mb-0">
                    <img class="avatar avatar-xxs mr-1" src="../assets/img/avatar/thethemeio.png" alt="avatar">
                    <a class="small" href="#">TheThemeio</a>
                  </h6>
                  <a class="text-inherit small-2" href="#"><i class="fa fa-heart pr-1 opacity-60"></i> 63</a>
                </div>
              </div>
            </div>


            <div class="col-6 col-lg-3">
              <div class="card shadow-1 hover-shadow-6">
                <a class="p-2" href="#">
                  <img class="card-img-top" src="../assets/img/portfolio/15.jpg" alt="screenshot">
                </a>
                <div class="card-body flexbox">
                  <h6 class="mb-0">
                    <img class="avatar avatar-xxs mr-1" src="../assets/img/avatar/4.jpg" alt="avatar">
                    <a class="small" href="#">Hossein</a>
                  </h6>
                  <a class="text-inherit small-2" href="#"><i class="fa fa-heart pr-1 opacity-60 text-danger"></i> 59</a>
                </div>
              </div>
            </div>


            <div class="col-6 col-lg-3">
              <div class="card shadow-1 hover-shadow-6">
                <a class="p-2" href="#">
                  <img class="card-img-top" src="../assets/img/portfolio/16.jpg" alt="screenshot">
                </a>
                <div class="card-body flexbox">
                  <h6 class="mb-0">
                    <img class="avatar avatar-xxs mr-1" src="../assets/img/avatar/1.jpg" alt="avatar">
                    <a class="small" href="#">Maryam</a>
                  </h6>
                  <a class="text-inherit small-2" href="#"><i class="fa fa-heart pr-1 opacity-60 text-danger"></i> 51</a>
                </div>
              </div>
            </div>


            <div class="col-6 col-lg-3">
              <div class="card shadow-1 hover-shadow-6">
                <a class="p-2" href="#">
                  <img class="card-img-top" src="../assets/img/portfolio/17.jpg" alt="screenshot">
                </a>
                <div class="card-body flexbox">
                  <h6 class="mb-0">
                    <img class="avatar avatar-xxs mr-1" src="../assets/img/avatar/4.jpg" alt="avatar">
                    <a class="small" href="#">Hossein</a>
                  </h6>
                  <a class="text-inherit small-2" href="#"><i class="fa fa-heart pr-1 opacity-60"></i> 128</a>
                </div>
              </div>
            </div>


            <div class="col-6 col-lg-3">
              <div class="card shadow-1 hover-shadow-6">
                <a class="p-2" href="#">
                  <img class="card-img-top" src="../assets/img/portfolio/18.jpg" alt="screenshot">
                </a>
                <div class="card-body flexbox">
                  <h6 class="mb-0">
                    <img class="avatar avatar-xxs mr-1" src="../assets/img/avatar/thethemeio.png" alt="avatar">
                    <a class="small" href="#">TheThemeio</a>
                  </h6>
                  <a class="text-inherit small-2" href="#"><i class="fa fa-heart pr-1 opacity-60 text-danger"></i> 92</a>
                </div>
              </div>
            </div>


            <div class="col-6 col-lg-3">
              <div class="card shadow-1 hover-shadow-6">
                <a class="p-2" href="#">
                  <img class="card-img-top" src="../assets/img/portfolio/19.jpg" alt="screenshot">
                </a>
                <div class="card-body flexbox">
                  <h6 class="mb-0">
                    <img class="avatar avatar-xxs mr-1" src="../assets/img/avatar/thethemeio.png" alt="avatar">
                    <a class="small" href="#">TheThemeio</a>
                  </h6>
                  <a class="text-inherit small-2" href="#"><i class="fa fa-heart pr-1 opacity-60 text-danger"></i> 265</a>
                </div>
              </div>
            </div>


            <div class="col-6 col-lg-3">
              <div class="card shadow-1 hover-shadow-6">
                <a class="p-2" href="#">
                  <img class="card-img-top" src="../assets/img/portfolio/20.jpg" alt="screenshot">
                </a>
                <div class="card-body flexbox">
                  <h6 class="mb-0">
                    <img class="avatar avatar-xxs mr-1" src="../assets/img/avatar/1.jpg" alt="avatar">
                    <a class="small" href="#">Maryam</a>
                  </h6>
                  <a class="text-inherit small-2" href="#"><i class="fa fa-heart pr-1 opacity-60 text-danger"></i> 197</a>
                </div>
              </div>
            </div>



          </div>


          <div class="text-center mt-8">
            <a class="btn btn-secondary" href="#">Load more</a>
          </div>

        </div>
      </section>


    </main><!-- /.main-content -->


    


    <!-- Modal - Portfolio -->
    <div class="modal fade" id="modal-portfolio" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

          <div class="modal-body p-0">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

            <div class="row no-gutters">
              <div class="col-6 col-md-5 mx-auto py-7">
                <h5>Paper cup mockup</h5>

                <p>Key letters, explain which writing we he carpeting or fame, the itch expand medical amped through constructing time. And scarfs, gain, get showed accounts decades.</p>

                <ul class="project-detail mt-7">
                  <li>
                    <strong>Client</strong>
                    <span>Envato Inc.</span>
                  </li>

                  <li>
                    <strong>Date</strong>
                    <span>June 27, 2018</span>
                  </li>

                  <li>
                    <strong>Skills</strong>
                    <span>Design, HTML, CSS, Javascript</span>
                  </li>

                  <li>
                    <strong>Address</strong>
                    <a href="http://thetheme.io/thesaas">thetheme.io/thesaas</a>
                  </li>
                </ul>
              </div>


              <div class="col-5 col-md-6 position-relative" style="min-height: 400px;">
                <img class="fill-parent fit-cover rounded-right" src="../assets/img/portfolio/4.jpg" alt="project image">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


    <!-- Scripts -->
    <script src="../assets/js/page.min.js"></script>
    <script src="../assets/js/script.js"></script>

  </body>
</html>
